.volumeContainer {
    width: 15px;
    height: 100%;
    display: flex;
    right: 20px;
    position: absolute;
}

.volume {
    justify-content: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 20px 0
}

.volume > div {
    width: 15px;
    background-color: rgba(255, 0, 0, 0.45);
    flex-grow: 1;
}

.volume > div.progress {
    background-color: red;
    height: 40%;
    flex-grow: 0;
}